deployment:
  enabled: true

providers:
  kubernetesIngress:
    enabled: true
    ingressClass: traefik-external

ingressClass:
  enabled: true
  isDefaultClass: false
  name: traefik-external

service:
  type: LoadBalancer
  loadBalancerIP: 192.168.1.240

ports:
  web:
    port: 80
  websecure:
    port: 443

