metadata:
  annotations:
    external-dns.alpha.kubernetes.io/target: "2ce35617-07ec-48c7-a184-0c45e645417a.cfargotunnel.com"
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
provider: cloudflare

env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token
        key: api-token

sources:
  - ingress

domainFilters:
  - blackcircuit.ca

registry: txt
txtOwnerId: public-1
txtPrefix: external-dns-
fullnameOverride: external-dns-public

extraArgs:
  - --ingress-class=nginx-public

policy: sync

# Optional: reduce noise / improve safety
interval: 1m
logLevel: info

