server:
  ingress:
    enabled: true
    ingressClassName: traefik

    hosts:
      - argocd.blackcircuit.ca

    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"

    tls: true

configs:
  params:
    server.insecure: "true"

