apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

configMapGenerator:
  - name: platform-config
    namespace: cert-manager
    envs:
      - ../../../../env/kubeadm/platform.env

generatorOptions:
  disableNameSuffixHash: true

replacements:
  - source:
      kind: ConfigMap
      name: platform-config
      fieldPath: data.STEP_ACME_SERVER
    targets:
      - select:
          kind: ClusterIssuer
          name: step-int-ca
        fieldPaths:
          - spec.acme.server

  - source:
      kind: ConfigMap
      name: platform-config
      fieldPath: data.ACME_EMAIL
    targets:
      - select:
          kind: ClusterIssuer
          name: step-int-ca
        fieldPaths:
          - spec.acme.email

  - source:
      kind: ConfigMap
      name: platform-config
      fieldPath: data.RFC2136_NAMESERVER
    targets:
      - select:
          kind: ClusterIssuer
          name: step-int-ca
        fieldPaths:
          - spec.acme.solvers.0.dns01.rfc2136.nameserver

  - source:
      kind: ConfigMap
      name: platform-config
      fieldPath: data.RFC2136_TSIG_KEYNAME
    targets:
      - select:
          kind: ClusterIssuer
          name: step-int-ca
        fieldPaths:
          - spec.acme.solvers.0.dns01.rfc2136.tsigKeyName

  - source:
      kind: ConfigMap
      name: platform-config
      fieldPath: data.RFC2136_TSIG_ALGORITHM
    targets:
      - select:
          kind: ClusterIssuer
          name: step-int-ca
        fieldPaths:
          - spec.acme.solvers.0.dns01.rfc2136.tsigAlgorithm

