apiVersion: v1
kind: PersistentVolume
metadata:
  name: step-ca-data-pv
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /var/lib/step-ca
    type: DirectoryOrCreate

