apiVersion: v1
kind: Service
metadata:
  name: step-ca
  labels:
    app.kubernetes.io/name: step-ca
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: step-ca
  ports:
    - name: https
      port: 443
      targetPort: 8443

